$topper-color: white;
$topper-height: 3px;
$font: 'Open Sans', sans-serif;
$font-color: black;
$full-width:100%;
$nav-width: $full-width - 60;

#topper{
	height:$topper-height;
	background-color:$topper-color;
}

.search-block{
position: fixed;
z-index: 1000;
margin-left: 5%; 
margin-right: 5%;
width:90%;
font-family: $font;

	.search-bar-inner{
		width: 50%;
		float:left;


		.filter-spacer-middle{
			width:6.666%;
		}

		.calendar-filter:hover{
				background-color: rgba(22,89,190,1);
			}

		.calendar-filter{
			text-align: center;
			background-color: rgba(22,89,190,0.5);
			border-radius: 4px;
			padding-top: 5px;
			padding-bottom: 5px;

			

			span, i {
				color: $topper-color;
			}


			.calendar-label{
				font-size: 16px;
			}

			.filter-date{
				font-size: 16px;
			}

		}
	}

		input{
			background-color: rgba(255,255,255,0.8);
			color:$font-color;
			margin-top: 20px;
			border-radius: 4px;
			width:100%%;
			margin-bottom: 15px;
			padding: 5px 10% 5px 10%;
			/*text-align: center;*/

		}

		::-webkit-input-placeholder {
			color: #888888;
			text-align: center;
			font-size: 20px;
		}


		.search-field{
			border: none;
			line-height: 32px;
			font-size: 25px;

		}
		.search-button{
		}

		#map-drop-dropdown{
			height: 100%;

			a{
				float:left;
			}
		}

		.filters-group{

			ul{
				height: 100%;
				width: 100%;
			}

			li {
				float:right;
			}
			ul > li {
				list-style-type: none;
				margin-left: 15px;
				width:20%;

			}

				a:hover{
					text-decoration: none;
				}

				.dropdown-menu{
					background-color:$topper-color;
					color:$font-color;
					border-radius: 4px;
					min-width: 0px;
				}


				p {
					float:right;
					margin-left: 5px;
					margin-top: 5px;


				}
			.fa{
				color:$font-color;
			}


			#proximity-slider-drop{
				li {
					margin-left: 0;
				}

				.proximity-slider{

					padding: 0 8px 0 5px;

					.slider-vertical{
						margin: 5px 0 15px 0;

						
					}

					.slider-handle{
						background-image: none;
						background-color: #428bca;
						opacity: 1;
						margin-left: -8px;
					}

					.slider-track{
						background-color: $font-color;
						background-image: none;
						border: none;
						width:2px;
						margin: 0;

						.slider-selection{
							background-image: none;
						}
				}				

			}


		}



	}

}

.sub-nav-content{

}


#map-canvas{
width:100%;
overflow: none; 
}

.info-window-sub{
color: #CCCCCC;
font-size: 15px;
}
