$topper-color: red;
$topper-height: 3px;
$nav-height: (50+$topper-height);

html, body, {
 height: 100%;
}

.full-height{
	height:100%;
}

.navbar{	
	background-color:rgba(255,255,255,1);
	border-width: 0;
	margin-bottom: 0;
	height: $nav-height;

	#topper{
		height:$topper-height;
		background-color:$topper-color;
	}

	.searchbar-inner{
		
		padding: 10px 0 10px 0;
		height: 100%;

		::-webkit-input-placeholder {
			color: #DDDDDD;
		}

		.search-field{
			border: none;
			line-height: 30px;
			font-size: 20px;
			font-family: 'Open Sans', sans-serif; 
		}
		.search-button{
		}

		.proximity-slider{
			float:left;
			#distance-slider {
				width:50%;
			}
		}

	}


}

.sub-nav-content{
	margin-top: $nav-height;
}


#map-canvas{
	width:100%;
	padding-left: 15px !important; 
}

.info-window-sub{
	color: #CCCCCC;
	font-size: 15px;
	width: 500px;
}



#address{
	width: 100%;
}
