$topper-color: white;
$topper-height: 3px;
$nav-height: (50+$topper-height);
$font: 'Open Sans', sans-serif;
$font-color: black; 

html, body, {
 height: 100%;
 overflow:   hidden;
}

.full-height{
	height:100%;
}

.navbar{	
	background-color:$topper-color;
	border-width: 0;
	margin-bottom: 0;
	height: $nav-height;

	#topper{
		height:$topper-height;
		background-color:$topper-color;
	}

	.searchbar-inner{
		
		padding: 10px 0 10px 0;
		height: 100%;
		font-family: $font;

		input{
			background-color:$topper-color;
			color:$font-color;
		}

		::-webkit-input-placeholder {
			color: #555555;
		}

		.search-field{
			border: none;
			line-height: 30px;
			font-size: 20px;

		}
		.search-button{
		}

		.proximity-slider{
			float:left;
			#distance-slider {
				width:50%;
			}
		}

		.filters-group{

			.dropdown{
				float:right;

				.dropdown-inner{
					padding: 20px;
				}

				.dropdown-menu{
					background-color:black;
					color:white;
					border-radius: 0px;
				}

				p {
					float:right;
					margin-left: 5px;
					margin-top: 5px;


				}

			}

			ul > li {
				list-style-type: none;
			}

			.fa{
				margin-left:20px;
				color:$font-color;
			}

		}

		.proximity-slider{

				min-width: 250px;
				font-size: 20px;

				.slider-horizontal{
					width:100% !important;
				}

				.slider-handle{
					background-image: none;
					background-color: #94EECD;
					opacity: 1;
				}

				.slider-track{
					height:5px;

				}
					
		}

	}


}

.sub-nav-content{
	padding-top: $nav-height;
}


#map-canvas{
	width:100%;
	padding-left: 15px !important;
	overflow: none; 
}

.info-window-sub{
	color: #CCCCCC;
	font-size: 15px;
}



#address{
	width: 100%;
}
