<div class="row" id="topper">
	<div class="col-md-12"></div>
</div>
<%= render 'searchbar', :locals => {sales_near_by: @sales_near_by, start_date: @start_date, end_date: @end_date} %>
<div class="row sub-nav-content full-height">
	<div class="row row-no-margin full-height">
		<div class="col-md-12 no-padding no-margin full-height">
			<div id="map-canvas" class="full-height"></div>
		</div>
	</div>
</div>
	
<!-- <table id="searchResults" class="table table-striped tablesorter">
	<thead>
		<th>Type</th>
		<th>Address</th>
		<th>Date Sold</th>
		<th>Size</th>
		<th>Sold Price</th>
		<th>List Price</th>
		<th>% of list</th>
		<th>Distance</th>
	</thead>
	<tbody>
		<%= render 'sale', sales_near_by: @sales_near_by %>
	</tbody>
</table> -->
